body {
    margin: 0;
}

.video_wrapper {
    width: 100vw;
    height: 85vh;
    overflow: hidden;
}

.video_wrapper > video {
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
}

.volume_wrapper {
    height: 15vh;
}

#volume {
    text-align: center;
}

#canvas {
    display: none;
}