body {
    margin: 0;
    background-color: black;
}

.video_wrapper {
    position: relative;
    width: 100vw;
    height: 85vh;
}

.video_wrapper > video {
    position: absolute;
    width: 100%;
    height: 100%;
}

#volume_wrapper {
    height: 15vh;
    display: flex;
    flex-direction: row-reverse;
}

#volume {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

#volume_wrapper > button {
    width: 15vw;   
}

#canvas {
    display: none;
}