body {
    margin: 0;
    background-color: black;
}

.video_wrapper {
    width: 100vw;
    height: 85vh;
    text-align: center;
}

.video_wrapper > video {
    height: 100%;
}

.volume_wrapper {
    height: 15vh;
    display: flex;
    flex-direction: row-reverse;
}

#volume {
    margin-left: auto;
    margin-right: auto;
    color: white;
}

.volume_wrapper > button {
    width: 15vh;
}

.capture_button {
    background-color: silver;
	cursor:pointer;
	border-top:2px solid rgba(255,255,255,0.2);
	border-bottom:2px solid rgba(0,0,0,0.2);
	border-radius:4px;
    margin: 5px;
}

.capture_button:hover {
	opacity:0.8;
}

.capture_button:active {
	-webkit-transform: translate(0,2px);
	-moz-transform: translate(0,2px);
	transform: translate(0,2px);
	border-bottom:none;
}

#canvas {
    display: none;
}
