<!-- 
    TODO
    CSS決める
    button後で消す
 -->
{% load static %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'measurevolume/css/style.css' %}">
    <script type="text/javascript" src="{% static 'measurevolume/js/script.js' %}" charset="UTF-8" defer></script>
</head>

<body>
    <div class="video_wrapper">
        <video id="local_video"autoplay></video>
    </div>
    <div class="canvas_wrapper">
        <canvas id="canvas"></canvas>
    </div>
    <button onclick="takePicture()">capture</button>
    <div id="error_message"></div>
    <div id="volume"></div>

</body>

</html>
